:root{
    --slide-width: 50vw;
    --slide-height: 50vh;
}

div{
    width: var(--slide-width);
    height: var(--slide-height);
}

div:first-child{
    background-image: url("/Case_05/Assests/slide1.jpeg");
    background-size: cover;
    background-position: center;
}

div:nth-child(2){
    background-image: url("/Case_05/Assests/slide2.jpeg");
    background-size: cover;
    background-position: center;
}

div:nth-child(3){
    background-image: url("/Case_05/Assests/slide3.jpeg");
    background-size: cover;
    background-position: center;
}

div:nth-child(4){
    background-image: url("/Case_05/Assests/slide4.jpeg");
    background-size: cover;
    background-position: center;
}


section{
    display: flex;
    width: fit-content;
    height: fit-content;
    animation-name: slide ;
    animation-duration: 5s;
}

main{
    width: var(--slide-width);
    height: var(--slide-height);
    border: 5px solid red;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

@keyframes slide {
    0%,20%{
        transform: translateX(0%);
    }

    25%,45%{
        transform: translateX(-25%);
    }

    50%,70%{
        transform: translateX(-50%);
    }

    75%,100%{
        transform: translateX(-75%);
       }
}


